@charset "utf-8";
@import url("base.css") screen;
body { margin: 0; font-family: sans-serif; }
.hero { padding: 1em; color: #fff; }
h1::after { content: " ✓"; }
.logo-bg { background-image: url(../img/logo.png); }
